# Ignore everything by default.
/*

# Keep repository configuration.
!/.gitignore
!/Cargo.toml
!/Cargo.lock
!/compose.yaml

# Keep source files.
!/src/
!/src/**

# Keep GitHub workflows.
!/.github/
!/.github/**
